# Analyse des données patients

1. Import des données

In [56]:
import pandas as pd

In [57]:
df = pd.read_table('MAARS_all_Fri_Apr_04_14h_CEST_2014.csv')

In [58]:
df_AD = pd.read_table('MAARS_AD_full_20190131_12-34-49.csv')

In [83]:
df_trans = pd.read_table('MAARS_normTranscriptome_618samples_16042014.txt')

2. Exploration des données df

In [59]:
df.shape

(1317, 34)

In [60]:
df.head()

,sample_id,clinical_group,anatomical_location,anatomical_location_label,lesional,MAARS_identifier,Institution,CUSTOM_Age,Gender,Known_Allergies_v2..Pseudo_Drug_Allergy,...,Other_concurrent_chronic_diseases_v2..Others,Other_concurrent_chronic_diseases_v2..Diabetes_.non.insulin.,Other_concurrent_chronic_diseases_v2..Thyroid_dysfunction,Other_concurrent_chronic_diseases_v2..Asthma,Other_concurrent_chronic_diseases_v2..Hypertension,Global_Assessment_Score,CUSTOM_Malignancies_._skin,CUSTOM_Malignancies_._other,CUSTOM_Fam._hist._Atopic_dermatitis,CUSTOM_Family_History_of_Psoriasis
0,MAARS_3_018_02,AD,posterior_thigh,PT,NON_LES,MAARS_3_018,UH,25,Male,False,...,False,False,False,False,False,moderate,False,False,False,NaN
1,MAARS_3_018_01,AD,posterior_thigh,PT,LES,MAARS_3_018,UH,25,Male,False,...,False,False,False,False,False,moderate,False,False,False,NaN
2,MAARS_3_018_03,AD,posterior_thigh,PT,LES,MAARS_3_018,UH,25,Male,False,...,False,False,False,False,False,moderate,False,False,False,NaN
3,MAARS_3_018_04,AD,posterior_thigh,PT,NON_LES,MAARS_3_018,UH,25,Male,False,...,False,False,False,False,False,moderate,False,False,False,NaN
4,MAARS_3_082_02,AD,posterior_thigh,PT,NON_LES,MAARS_3_082,UH,62,Male,False,...,False,False,False,False,False,moderate,False,False,True,NaN

In [61]:
df.columns

Index(['sample_id', 'clinical_group', 'anatomical_location',
       'anatomical_location_label', 'lesional', 'MAARS_identifier',
       'Institution', 'CUSTOM_Age', 'Gender',
       'Known_Allergies_v2..Pseudo_Drug_Allergy',
       'Known_Allergies_v2..House_dust_mite', 'Known_Allergies_v2..Food',
       'Known_Allergies_v2..Pollen', 'Known_Allergies_v2..Contact_Allergy',
       'Known_Allergies_v2..Drug_Allergy', 'Known_Allergies_v2..Animal',
       'Concomitant_Medication_v2..Anti.Hypertensive',
       'Concomitant_Medication_v2..Anti.Inflammatory.non_steroid.',
       'Concomitant_Medication_v2..Other_hormones',
       'Concomitant_Medication_v2..Thyroid_hormones',
       'Concomitant_Medication_v2..Statins',
       'Concomitant_Medication_v2..Insulin',
       'Concomitant_Medication_v2..Others',
       'Other_concurrent_chronic_diseases_v2..Hyperlipidemia',
       'Other_concurrent_chronic_diseases_v2..Others',
       'Other_concurrent_chronic_diseases_v2..Diabetes_.non.insulin.',
       'Other_concurrent_chronic_diseases_v2..Thyroid_dysfunction',
       'Other_concurrent_chronic_diseases_v2..Asthma',
       'Other_concurrent_chronic_diseases_v2..Hypertension',
       'Global_Assessment_Score', 'CUSTOM_Malignancies_._skin',
       'CUSTOM_Malignancies_._other', 'CUSTOM_Fam._hist._Atopic_dermatitis',
       'CUSTOM_Family_History_of_Psoriasis'],
      dtype='object')

In [62]:
# Différents types de données
### Description du sujet (données démographiques, histoire personnelle et familiale) > Comprendre les causes de la maladie
### Des infos sur l'expérimentation clinique : institution, MAARS_identifier, anatomical_location > intérêt?
### Symptômes : Global_assessment_score, malignité > Comprendre comment se manifeste la maladie

In [63]:
df.describe()

        CUSTOM_Age
count  1317.000000
mean     43.003037
std      14.985251
min      19.000000
25%      29.000000
50%      43.000000
75%      54.000000
max      83.000000

In [64]:
# AD = dermatite atopique, PSO = psoriasis, CTRL = sain
df['clinical_group'].value_counts()

PSO     512
CTRL    454
AD      351
Name: clinical_group, dtype: int64

In [65]:
# intérêt les bouts de peau peuvent être différents
df['anatomical_location'].value_counts()

lower_back         595
upper_back         252
thigh              208
posterior_thigh    187
buttocks            75
Name: anatomical_location, dtype: int64

In [66]:
df['anatomical_location_label'].value_counts()

LB    595
UB    252
T     208
PT    187
B      75
Name: anatomical_location_label, dtype: int64

In [67]:
# intéressant car peut être dans les gênes que va développer eczéma même si peau non malade
df['lesional'].value_counts()

NON_LES    886
LES        431
Name: lesional, dtype: int64

In [68]:
# est-ce que le nombre de prélévement a un impact sur l'analyse? Sinon suppression des doublons
df['MAARS_identifier'].value_counts()

MAARS_3_086    6
MAARS_3_104    6
MAARS_3_088    6
MAARS_1_106    4
MAARS_2_011    4
MAARS_1_120    4
MAARS_3_018    4
MAARS_2_002    4
MAARS_2_091    4
MAARS_3_008    4
MAARS_2_069    4
MAARS_2_033    4
MAARS_3_021    4
MAARS_1_032    4
MAARS_2_085    4
MAARS_3_010    4
MAARS_2_055    4
MAARS_2_048    4
MAARS_2_052    4
MAARS_1_070    4
MAARS_1_069    4
MAARS_3_081    4
MAARS_1_075    4
MAARS_3_089    4
MAARS_1_133    4
MAARS_2_072    4
MAARS_3_015    4
MAARS_2_017    4
MAARS_3_113    4
MAARS_1_048    4
              ..
MAARS_3_007    4
MAARS_3_075    4
MAARS_3_044    4
MAARS_2_018    4
MAARS_3_003    4
MAARS_3_098    4
MAARS_3_035    4
MAARS_2_080    4
MAARS_1_004    4
MAARS_3_042    4
MAARS_2_087    4
MAARS_1_005    4
MAARS_2_046    4
MAARS_1_046    4
MAARS_2_019    3
MAARS_1_013    3
MAARS_1_028    3
MAARS_3_056    3
MAARS_1_130    3
MAARS_1_017    3
MAARS_3_006    3
MAARS_1_023    2
MAARS_1_127    2
MAARS_1_124    2
MAARS_1_022    2
MAARS_2_026    2
MAARS_1_126    2
MAARS_1_014    2
MAARS_1_012    2
MAARS_1_125    2
Name: MAARS_identifier, Length: 334, dtype: int64

In [69]:
#A voir si utile pour l'analyse
df['Institution'].value_counts()

HHU      472
UH       440
KINGS    405
Name: Institution, dtype: int64

In [70]:
# Echantillon représentatif de la population? Plus d'hommes touchés que de femmes? N'est-on pas en train d'introduire un biais?
df['Gender'].value_counts()

Male      760
Female    557
Name: Gender, dtype: int64

In [71]:
df['Known_Allergies_v2..Pseudo_Drug_Allergy'].value_counts()

False    1309
True        8
Name: Known_Allergies_v2..Pseudo_Drug_Allergy, dtype: int64

In [72]:
# On cherche ici à savoir si un traitement médicamenteux pourrait être à l'origine de l'apparition d'eczéma?
df['Concomitant_Medication_v2..Anti.Hypertensive'].value_counts()

False    1081
True      236
Name: Concomitant_Medication_v2..Anti.Hypertensive, dtype: int64

In [73]:
df['Other_concurrent_chronic_diseases_v2..Hyperlipidemia'].value_counts()

False    1274
True       43
Name: Other_concurrent_chronic_diseases_v2..Hyperlipidemia, dtype: int64

In [74]:
# Almost clear = le moins grave? A reclasser avec des chiffres
df['Global_Assessment_Score'].value_counts()

moderate           367
moderate.severe    265
Severe             115
mild               112
almost_clear         4
Name: Global_Assessment_Score, dtype: int64

In [75]:
# Tendance à s'agraver?
df['CUSTOM_Malignancies_._skin'].value_counts()

False    1247
True       70
Name: CUSTOM_Malignancies_._skin, dtype: int64

In [76]:
df['CUSTOM_Malignancies_._other'].value_counts()

False    1297
True       20
Name: CUSTOM_Malignancies_._other, dtype: int64

In [77]:
# Valeurs NA : antécédent de l'autre famille de maladie dans la famille
df['CUSTOM_Fam._hist._Atopic_dermatitis'].value_counts()

False    597
True     208
Name: CUSTOM_Fam._hist._Atopic_dermatitis, dtype: int64

In [78]:
df['CUSTOM_Family_History_of_Psoriasis'].value_counts()

False    754
True     212
Name: CUSTOM_Family_History_of_Psoriasis, dtype: int64

3. Exploration des données df_AD

In [79]:
df_AD.shape

(94, 297)

In [80]:
df_AD.head()

,patient#Identification#MAARS identifier (MAARS_identifier),patient#Identification#Date of first visit (Date_of_first_visit),patient#Identification#Institution (Institution),patient#Identification#Physician (Physician),patient#Inclusion/Exclusion criteria#Inclusion criteria#Written informed consent (Written_informed_consent),patient#Inclusion/Exclusion criteria#Inclusion criteria#18 years old or more (18_years_old_or_more),"patient#Inclusion/Exclusion criteria#Inclusion criteria#Patients with Atopic Dermatitis, diagnosed using Hanifin-Rajka Criteria (Patients_with_Atopic_Dermatitis,_diagnosed_using_Hanifin-Rajka_Criteria)",patient#Inclusion/Exclusion criteria#Exclusion criteria#Subject unable to give written informed consent (Subject_unable_to_give_written_informed_consent),patient#Inclusion/Exclusion criteria#Exclusion criteria#Subject has no allergen-specific IgE and no allergen-specific immediate type reactions (Subject_has_no_allergen-specific_IgE_and_no_allergen-specific_immediate_type_reactions),patient#Inclusion/Exclusion criteria#Exclusion criteria#Subjects who have received treatment at the biopsy site at least 2 weeks prior to screening (Subjects_who_have_received_treatment_at_the_biopsy_site_at_least_2_weeks_prior_to_screening),...,blood for genomic DNA#blood for genomic DNA#Excluded (Excluded),blood for genomic DNA#blood for genomic DNA#Exclusion comments (Exclusion_comments),blood for PBMC#blood for PBMC#MAARS Sample identifier (MAARS_Sample_identifier),blood for PBMC#blood for PBMC#Sampling date (Sampling_date),blood for PBMC#blood for PBMC#Excluded (Excluded),blood for PBMC#blood for PBMC#Exclusion comments (Exclusion_comments),plasma#plasma#MAARS Sample identifier (MAARS_Sample_identifier),plasma#plasma#Sampling date (Sampling_date),plasma#plasma#Excluded (Excluded),plasma#plasma#Exclusion comments (Exclusion_comments)
0,MAARS_1_003,06/12/12,HHU,Homey,Yes,Yes,Yes,No,No,No,...,NaN,NaN,MAARS_1_003_08,06/12/12,NaN,NaN,MAARS_1_003_09,06/12/12,NaN,NaN
1,MAARS_1_008,15/02/12,HHU,Baran,Yes,Yes,Yes,No,No,No,...,NaN,NaN,MAARS_1_008_08,NaN,NaN,NaN,MAARS_1_008_09,NaN,NaN,NaN
2,MAARS_1_016,14/03/12,HHU,Baran,Yes,Yes,Yes,No,No,No,...,NaN,NaN,MAARS_1_016_08,09/12/11,NaN,NaN,MAARS_1_016_09,09/12/11,NaN,NaN
3,MAARS_1_017,14/03/12,HHU,Baran,Yes,Yes,Yes,No,No,No,...,NaN,NaN,MAARS_1_017_08,14/03/12,NaN,NaN,MAARS_1_017_09,14/03/12,NaN,NaN
4,MAARS_1_044,09/05/12,HHU,Jahn,Yes,Yes,Yes,No,No,No,...,NaN,NaN,MAARS_1_044_08,09/05/12,NaN,NaN,MAARS_1_044_09,09/05/12,NaN,NaN

In [85]:
df_trans.shape

(32633, 618)

In [86]:
df_trans.head()

,MAARS_3_033_03,MAARS_3_032_03,MAARS_3_032_04,MAARS_2_012_03,MAARS_3_007_03,MAARS_3_007_04,MAARS_2_012_04,MAARS_2_004_03,MAARS_2_004_04,MAARS_2_007_04,...,MAARS_1_128_03,MAARS_2_083_03,MAARS_1_010_04,MAARS_1_036_04,MAARS_3_099_04,MAARS_1_076_03,MAARS_1_065_03,MAARS_2_044_03,MAARS_2_056_03,MAARS_1_098_04
ENSG00000000003_at,7.967,7.634,7.893,7.106,6.807,7.375,8.027,7.948,7.606,8.432,...,8.813,7.868,8.643,8.549,8.358,8.157,7.828,7.866,7.705,7.837
ENSG00000000005_at,5.075,4.886,5.312,4.187,3.958,3.983,6.050,3.980,4.163,6.236,...,4.981,4.004,4.451,4.586,6.048,5.950,5.962,5.474,4.281,4.097
ENSG00000000419_at,9.043,9.411,9.624,9.430,9.809,9.696,9.809,9.859,9.582,9.477,...,9.726,9.764,9.668,9.274,9.669,9.471,9.382,9.816,9.781,10.130
ENSG00000000457_at,7.154,7.111,7.161,7.247,6.846,7.076,7.254,6.941,7.127,6.722,...,7.214,7.032,7.088,7.218,7.187,7.007,7.116,7.023,6.718,7.182
ENSG00000000460_at,5.992,5.819,5.931,5.881,5.975,5.288,5.236,5.928,5.781,5.601,...,5.497,5.511,5.524,5.773,5.419,5.756,5.967,5.363,5.513,6.068