In [237]:
import pandas as pd

In [238]:
df = pd.read_table('MAARS_AD_full_20190131_12-34-49.csv')
df_trans = pd.read_table('MAARS_normTranscriptome_618samples_16042014.txt').T
df_all = pd.read_table('MAARS_all_Fri_Apr_04_14h_CEST_2014.csv')
df_all = df_all.set_index(['sample_id'])

C:\Users\Moreau Adrien\Anaconda3.1\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.
C:\Users\Moreau Adrien\Anaconda3.1\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

C:\Users\Moreau Adrien\Anaconda3.1\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [239]:
df.shape

(94, 297)

In [240]:
df.head()

,patient#Identification#MAARS identifier (MAARS_identifier),patient#Identification#Date of first visit (Date_of_first_visit),patient#Identification#Institution (Institution),patient#Identification#Physician (Physician),patient#Inclusion/Exclusion criteria#Inclusion criteria#Written informed consent (Written_informed_consent),patient#Inclusion/Exclusion criteria#Inclusion criteria#18 years old or more (18_years_old_or_more),"patient#Inclusion/Exclusion criteria#Inclusion criteria#Patients with Atopic Dermatitis, diagnosed using Hanifin-Rajka Criteria (Patients_with_Atopic_Dermatitis,_diagnosed_using_Hanifin-Rajka_Criteria)",patient#Inclusion/Exclusion criteria#Exclusion criteria#Subject unable to give written informed consent (Subject_unable_to_give_written_informed_consent),patient#Inclusion/Exclusion criteria#Exclusion criteria#Subject has no allergen-specific IgE and no allergen-specific immediate type reactions (Subject_has_no_allergen-specific_IgE_and_no_allergen-specific_immediate_type_reactions),patient#Inclusion/Exclusion criteria#Exclusion criteria#Subjects who have received treatment at the biopsy site at least 2 weeks prior to screening (Subjects_who_have_received_treatment_at_the_biopsy_site_at_least_2_weeks_prior_to_screening),...,blood for genomic DNA#blood for genomic DNA#Excluded (Excluded),blood for genomic DNA#blood for genomic DNA#Exclusion comments (Exclusion_comments),blood for PBMC#blood for PBMC#MAARS Sample identifier (MAARS_Sample_identifier),blood for PBMC#blood for PBMC#Sampling date (Sampling_date),blood for PBMC#blood for PBMC#Excluded (Excluded),blood for PBMC#blood for PBMC#Exclusion comments (Exclusion_comments),plasma#plasma#MAARS Sample identifier (MAARS_Sample_identifier),plasma#plasma#Sampling date (Sampling_date),plasma#plasma#Excluded (Excluded),plasma#plasma#Exclusion comments (Exclusion_comments)
0,MAARS_1_003,06/12/12,HHU,Homey,Yes,Yes,Yes,No,No,No,...,NaN,NaN,MAARS_1_003_08,06/12/12,NaN,NaN,MAARS_1_003_09,06/12/12,NaN,NaN
1,MAARS_1_008,15/02/12,HHU,Baran,Yes,Yes,Yes,No,No,No,...,NaN,NaN,MAARS_1_008_08,NaN,NaN,NaN,MAARS_1_008_09,NaN,NaN,NaN
2,MAARS_1_016,14/03/12,HHU,Baran,Yes,Yes,Yes,No,No,No,...,NaN,NaN,MAARS_1_016_08,09/12/11,NaN,NaN,MAARS_1_016_09,09/12/11,NaN,NaN
3,MAARS_1_017,14/03/12,HHU,Baran,Yes,Yes,Yes,No,No,No,...,NaN,NaN,MAARS_1_017_08,14/03/12,NaN,NaN,MAARS_1_017_09,14/03/12,NaN,NaN
4,MAARS_1_044,09/05/12,HHU,Jahn,Yes,Yes,Yes,No,No,No,...,NaN,NaN,MAARS_1_044_08,09/05/12,NaN,NaN,MAARS_1_044_09,09/05/12,NaN,NaN

In [241]:
df_trans.shape

(618, 32633)

In [242]:
df_all.shape

(1317, 33)

In [243]:
df_all.head()

,clinical_group,anatomical_location,anatomical_location_label,lesional,MAARS_identifier,Institution,CUSTOM_Age,Gender,Known_Allergies_v2..Pseudo_Drug_Allergy,Known_Allergies_v2..House_dust_mite,...,Other_concurrent_chronic_diseases_v2..Others,Other_concurrent_chronic_diseases_v2..Diabetes_.non.insulin.,Other_concurrent_chronic_diseases_v2..Thyroid_dysfunction,Other_concurrent_chronic_diseases_v2..Asthma,Other_concurrent_chronic_diseases_v2..Hypertension,Global_Assessment_Score,CUSTOM_Malignancies_._skin,CUSTOM_Malignancies_._other,CUSTOM_Fam._hist._Atopic_dermatitis,CUSTOM_Family_History_of_Psoriasis
sample_id,,,,,,,,,,,,,,,,,,,,,
MAARS_3_018_02,AD,posterior_thigh,PT,NON_LES,MAARS_3_018,UH,25,Male,False,False,...,False,False,False,False,False,moderate,False,False,False,NaN
MAARS_3_018_01,AD,posterior_thigh,PT,LES,MAARS_3_018,UH,25,Male,False,False,...,False,False,False,False,False,moderate,False,False,False,NaN
MAARS_3_018_03,AD,posterior_thigh,PT,LES,MAARS_3_018,UH,25,Male,False,False,...,False,False,False,False,False,moderate,False,False,False,NaN
MAARS_3_018_04,AD,posterior_thigh,PT,NON_LES,MAARS_3_018,UH,25,Male,False,False,...,False,False,False,False,False,moderate,False,False,False,NaN
MAARS_3_082_02,AD,posterior_thigh,PT,NON_LES,MAARS_3_082,UH,62,Male,False,False,...,False,False,False,False,False,moderate,False,False,True,NaN

In [244]:
df_full = df_trans.merge(df_all[['MAARS_identifier','clinical_group','lesional']],how='left', right_index = True, left_index = True)

In [245]:
df_full.head()

,ENSG00000000003_at,ENSG00000000005_at,ENSG00000000419_at,ENSG00000000457_at,ENSG00000000460_at,ENSG00000000938_at,ENSG00000000971_at,ENSG00000001036_at,ENSG00000001084_at,ENSG00000001167_at,...,ENSG00000266835_at,ENSG00000266844_at,ENSG00000266852_at,ENSG00000266855_at,ENSG00000266865_at,ENSG00000266869_at,ENSG00000266877_at,MAARS_identifier,clinical_group,lesional
MAARS_3_033_03,7.967,5.075,9.043,7.154,5.992,4.266,9.191,7.067,7.229,7.862,...,2.624,3.289,4.749,1.619,6.044,2.466,4.444,MAARS_3_033,CTRL,NON_LES
MAARS_3_032_03,7.634,4.886,9.411,7.111,5.819,3.800,8.820,7.322,7.499,7.873,...,2.575,3.022,4.807,1.869,6.087,2.621,3.684,MAARS_3_032,CTRL,NON_LES
MAARS_3_032_04,7.893,5.312,9.624,7.161,5.931,3.832,8.397,7.120,7.487,7.954,...,2.901,3.016,5.172,1.464,6.092,2.254,3.631,MAARS_3_032,CTRL,NON_LES
MAARS_2_012_03,7.106,4.187,9.430,7.247,5.881,3.869,8.505,6.497,7.245,7.839,...,2.554,2.951,5.471,1.685,6.151,2.724,4.055,MAARS_2_012,CTRL,NON_LES
MAARS_3_007_03,6.807,3.958,9.809,6.846,5.975,4.671,8.561,7.272,6.567,7.525,...,2.840,3.379,4.817,1.708,5.415,2.721,4.568,MAARS_3_007,AD,LES

In [246]:
df_full = df_full.merge(df[['patient#Identification#MAARS identifier (MAARS_identifier)','patient#SCORAD index#SCORAD#SCORAD Score (SCORAD_Score)']], how='left', right_index = False, left_index = False, left_on='MAARS_identifier', right_on='patient#Identification#MAARS identifier (MAARS_identifier)')

In [247]:
df_full.head()

,ENSG00000000003_at,ENSG00000000005_at,ENSG00000000419_at,ENSG00000000457_at,ENSG00000000460_at,ENSG00000000938_at,ENSG00000000971_at,ENSG00000001036_at,ENSG00000001084_at,ENSG00000001167_at,...,ENSG00000266852_at,ENSG00000266855_at,ENSG00000266865_at,ENSG00000266869_at,ENSG00000266877_at,MAARS_identifier,clinical_group,lesional,patient#Identification#MAARS identifier (MAARS_identifier),patient#SCORAD index#SCORAD#SCORAD Score (SCORAD_Score)
0,7.967,5.075,9.043,7.154,5.992,4.266,9.191,7.067,7.229,7.862,...,4.749,1.619,6.044,2.466,4.444,MAARS_3_033,CTRL,NON_LES,NaN,NaN
1,7.634,4.886,9.411,7.111,5.819,3.800,8.820,7.322,7.499,7.873,...,4.807,1.869,6.087,2.621,3.684,MAARS_3_032,CTRL,NON_LES,NaN,NaN
2,7.893,5.312,9.624,7.161,5.931,3.832,8.397,7.120,7.487,7.954,...,5.172,1.464,6.092,2.254,3.631,MAARS_3_032,CTRL,NON_LES,NaN,NaN
3,7.106,4.187,9.430,7.247,5.881,3.869,8.505,6.497,7.245,7.839,...,5.471,1.685,6.151,2.724,4.055,MAARS_2_012,CTRL,NON_LES,NaN,NaN
4,6.807,3.958,9.809,6.846,5.975,4.671,8.561,7.272,6.567,7.525,...,4.817,1.708,5.415,2.721,4.568,MAARS_3_007,AD,LES,MAARS_3_007,54.0

In [248]:
df_full['lesional']

0      NON_LES
1      NON_LES
2      NON_LES
3      NON_LES
4          LES
5      NON_LES
6      NON_LES
7          LES
8      NON_LES
9      NON_LES
10         LES
11         LES
12         LES
13     NON_LES
14     NON_LES
15     NON_LES
16         LES
17     NON_LES
18         LES
19     NON_LES
20     NON_LES
21     NON_LES
22         LES
23     NON_LES
24     NON_LES
25         LES
26     NON_LES
27     NON_LES
28     NON_LES
29     NON_LES
        ...
588        LES
589    NON_LES
590    NON_LES
591    NON_LES
592    NON_LES
593    NON_LES
594    NON_LES
595        LES
596        LES
597    NON_LES
598        LES
599    NON_LES
600        LES
601    NON_LES
602    NON_LES
603    NON_LES
604        LES
605    NON_LES
606    NON_LES
607        LES
608        LES
609        LES
610    NON_LES
611    NON_LES
612    NON_LES
613    NON_LES
614    NON_LES
615        LES
616        LES
617    NON_LES
Name: lesional, Length: 618, dtype: object

In [249]:
df_full_AD_lesional = df_full.loc[(df_full['clinical_group']=='AD') & (df_full['lesional'] == 'LES')]

In [250]:
df_full_AD_lesional.shape

(83, 32638)

In [251]:
df_full_AD_lesional.head(15)

,ENSG00000000003_at,ENSG00000000005_at,ENSG00000000419_at,ENSG00000000457_at,ENSG00000000460_at,ENSG00000000938_at,ENSG00000000971_at,ENSG00000001036_at,ENSG00000001084_at,ENSG00000001167_at,...,ENSG00000266852_at,ENSG00000266855_at,ENSG00000266865_at,ENSG00000266869_at,ENSG00000266877_at,MAARS_identifier,clinical_group,lesional,patient#Identification#MAARS identifier (MAARS_identifier),patient#SCORAD index#SCORAD#SCORAD Score (SCORAD_Score)
4,6.807,3.958,9.809,6.846,5.975,4.671,8.561,7.272,6.567,7.525,...,4.817,1.708,5.415,2.721,4.568,MAARS_3_007,AD,LES,MAARS_3_007,54.0
10,7.653,5.171,9.877,6.642,5.873,4.561,9.221,7.621,6.914,7.513,...,4.329,1.577,5.508,2.583,3.826,MAARS_2_007,AD,LES,MAARS_2_007,37.1
22,7.019,3.571,10.010,6.993,5.692,4.850,8.728,6.634,7.053,7.543,...,5.427,1.684,5.374,2.326,4.172,MAARS_1_017,AD,LES,MAARS_1_017,78.5
25,7.432,4.542,9.817,6.785,6.503,4.456,7.850,7.489,6.910,7.969,...,4.764,1.661,5.357,2.557,3.792,MAARS_2_005,AD,LES,MAARS_2_005,46.3
31,7.447,4.609,10.260,6.929,6.198,4.675,8.603,7.470,6.894,7.906,...,4.659,1.792,5.581,2.484,3.966,MAARS_3_030,AD,LES,MAARS_3_030,89.0
33,7.623,4.031,10.160,6.960,5.846,4.332,8.924,7.624,7.300,7.945,...,5.043,2.126,5.766,2.445,4.034,MAARS_3_034,AD,LES,MAARS_3_034,59.5
44,7.349,4.189,10.050,6.643,5.973,4.683,8.771,7.407,6.818,7.749,...,4.388,1.901,5.356,2.482,4.331,MAARS_3_018,AD,LES,MAARS_3_018,45.5
57,7.592,5.363,9.685,6.868,5.892,4.298,8.903,7.725,7.232,7.477,...,4.371,1.961,5.566,2.449,3.585,MAARS_3_009,AD,LES,MAARS_3_009,60.0
64,7.282,4.058,9.427,7.043,6.025,4.449,8.690,7.116,7.299,7.595,...,4.887,1.734,5.215,2.771,3.941,MAARS_1_008,AD,LES,MAARS_1_008,57.5
71,7.460,4.881,9.651,7.078,5.502,4.095,8.263,7.502,7.274,7.343,...,4.335,1.798,5.467,3.006,4.297,MAARS_2_010,AD,LES,MAARS_2_010,58.6
72,7.895,5.378,9.567,7.115,5.776,4.278,9.258,7.616,7.230,7.625,...,4.835,1.502,5.717,2.355,4.198,MAARS_2_003,AD,LES,MAARS_2_003,42.0
78,7.139,4.285,9.363,7.097,6.054,4.635,9.364,7.803,6.993,7.624,...,5.091,1.622,5.336,2.577,3.714,MAARS_1_003,AD,LES,MAARS_1_003,43.5
79,7.441,3.881,9.597,6.990,6.336,5.228,8.499,7.364,6.809,7.774,...,4.475,1.720,5.377,2.410,4.348,MAARS_1_016,AD,LES,MAARS_1_016,73.0
85,7.290,5.326,9.524,7.005,5.569,4.051,8.453,6.830,7.058,7.846,...,4.072,1.862,5.829,2.399,4.419,MAARS_3_092,AD,LES,MAARS_3_092,56.5
93,7.309,3.617,9.566,7.222,5.596,4.309,8.259,6.834,7.124,7.720,...,4.450,1.736,5.352,2.303,3.620,MAARS_1_105,AD,LES,MAARS_1_105,59.0

In [252]:
df_full_AD_lesional = df_full_AD_lesional.drop(['MAARS_identifier','clinical_group','lesional','patient#Identification#MAARS identifier (MAARS_identifier)'], axis=1)

In [253]:
y = df_full_AD_lesional['patient#SCORAD index#SCORAD#SCORAD Score (SCORAD_Score)']
X = df_full_AD_lesional.drop('patient#SCORAD index#SCORAD#SCORAD Score (SCORAD_Score)', axis=1)

In [254]:
y.describe()

count    83.000000
mean     50.608434
std      17.479843
min      17.000000
25%      38.450000
50%      47.000000
75%      61.000000
max      89.000000
Name: patient#SCORAD index#SCORAD#SCORAD Score (SCORAD_Score), dtype: float64

In [255]:
from sklearn.linear_model import Lasso, Ridge
from sklearn.model_selection import GridSearchCV, KFold, cross_val_score

#params = {'alpha':[0.001,0.01, 0.1, 1, 10, 100, 1000]}
#grid_lasso = GridSearchCV(Lasso(max_iter=10000), params)
#grid_lasso.fit(X,y)
#grid_lasso.best_params_

In [256]:
#grid_lasso.best_score_

In [257]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

In [268]:
#Validation function
n_folds = 5

def rmsle_cv(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(X.values)
    rmse= np.sqrt(-cross_val_score(model, X.values, y, scoring="neg_mean_squared_error", cv = kf))
    return(rmse.mean())

In [259]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 45)

In [271]:
import numpy as np
lasso = Lasso(0.001, max_iter = 10000)
lasso.fit(X_train,y_train)
y_predict = lasso.predict(X_test)
rmse(y_predict, y_test)

11.909655776220594

In [272]:
rmsle_cv(lasso)

14.446942352901294

In [280]:
params = {'alpha':[0.001,0.01, 0.1, 1, 10, 100, 1000]}
grid_ridge = GridSearchCV(Ridge(), params)
grid_ridge.fit(X,y)
grid_ridge.best_params_

C:\Users\Moreau Adrien\Anaconda3.1\lib\site-packages\sklearn\model_selection\_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

{'alpha': 100}

In [281]:
ridge = Ridge(alpha = 100)
ridge.fit(X_train,y_train)
y_predict = ridge.predict(X_test)
rmse(y_predict, y_test)

11.672009954477438

In [274]:
rmsle_cv(ridge)

13.968798765830337

In [283]:
rfr = RandomForestRegressor(n_estimators=500, max_features='auto')
rfr.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=500,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [264]:
###Model Lasso regression
coef = pd.Series(lasso.coef_, index = X_train.columns)
coef.head()

ENSG00000000003_at   -7.989457
ENSG00000000005_at   -5.798524
ENSG00000000419_at    0.000000
ENSG00000000457_at    0.000000
ENSG00000000460_at    0.000000
dtype: float64

In [265]:
s = 0
for i in coef:
    if i != 0.0 and i != -0.0 :
        s += 1
        
s

319

In [285]:
mapping = pd.read_csv('ensembl2gene.txt')
mapping.head()

         EnsemblID GeneSymbol
0  ENSG00000000003     TSPAN6
1  ENSG00000000005       TNMD
2  ENSG00000000419       DPM1
3  ENSG00000000457      SCYL3
4  ENSG00000000460   C1orf112

In [266]:
genes_lasso = pd.DataFrame()
genes_lasso['Id'] = coef.loc[(coef != 0.0)].index
genes_lasso['coef'] = coef.loc[(coef != 0.0)].values
genes_lasso
#genes_lasso.to_csv('AM_lasso.csv',index=False)

                     Id      coef
0    ENSG00000000003_at -7.989457
1    ENSG00000000005_at -5.798524
2    ENSG00000000938_at  6.058208
3    ENSG00000000971_at -1.462600
4    ENSG00000001561_at -0.318045
5    ENSG00000001626_at -2.300082
6    ENSG00000002016_at  1.362388
7    ENSG00000003400_at  5.982248
8    ENSG00000003402_at  6.369499
9    ENSG00000003756_at  0.695992
10   ENSG00000003989_at  1.892956
11   ENSG00000004660_at -6.189010
12   ENSG00000004779_at  0.945420
13   ENSG00000004799_at  1.715053
14   ENSG00000005001_at  0.782889
15   ENSG00000005187_at -0.005208
16   ENSG00000005801_at  0.367557
17   ENSG00000005844_at  0.177495
18   ENSG00000006042_at -2.562383
19   ENSG00000006059_at -0.486309
20   ENSG00000006606_at  2.188356
21   ENSG00000006638_at  1.802487
22   ENSG00000006747_at -0.160880
23   ENSG00000007062_at  1.779279
24   ENSG00000007255_at -0.367046
25   ENSG00000007545_at  4.518447
26   ENSG00000007908_at  0.141016
27   ENSG00000007933_at  3.942089
28   ENSG00000008394_at  0.120857
29   ENSG00000010610_at -2.711241
..                  ...       ...
289  ENSG00000211753_at -0.745592
290  ENSG00000211859_at -0.015369
291  ENSG00000211893_at  0.015838
292  ENSG00000211900_at  0.088728
293  ENSG00000211904_at  0.050156
294  ENSG00000211905_at  0.150290
295  ENSG00000211945_at  0.005519
296  ENSG00000211952_at  0.063129
297  ENSG00000221275_at -0.067716
298  ENSG00000223259_at  0.102691
299  ENSG00000223299_at -0.614926
300  ENSG00000224521_at -0.356076
301  ENSG00000224846_at -0.370336
302  ENSG00000224984_at -0.095125
303  ENSG00000226145_at  0.000297
304  ENSG00000226210_at -0.066181
305  ENSG00000227827_at  0.283396
306  ENSG00000227888_at -0.001417
307  ENSG00000228033_at  0.000239
308  ENSG00000229807_at  0.011368
309  ENSG00000229886_at -0.341776
310  ENSG00000238764_at -0.002472
311  ENSG00000240834_at -0.020612
312  ENSG00000241566_at  0.055013
313  ENSG00000249790_at -0.594439
314  ENSG00000256872_at  0.083822
315  ENSG00000258378_at -0.153848
316  ENSG00000259373_at  0.388845
317  ENSG00000261175_at  0.029101
318  ENSG00000261827_at  0.000003

[319 rows x 2 columns]

In [ ]:
rmsle_cv(rfr)

In [ ]:
y_predict = rfr.predict(X_test)
rmse(y_predict, y_test)

In [ ]:
genes_rfr = pd.DataFrame()
genes_rfr['Id'] = X.columns
genes_rfr['feature_importance'] = rfr.feature_importances_
genes_rfr.sort_values('feature_importance', ascending = False)

In [ ]:
genes_rfr = genes_rfr.head(10000)
genes_rfr

In [ ]:
s=0
for i in genes_rfr['Id']:
    for j in genes_lasso['Id']:
        if i == j :
            print(i)
            s += 1
s

Transformation en un problème de classification

In [ ]:
z=y.copy()
y.loc[z<50] = 'Moderate'
y.loc[z>=50] = 'Severe'

In [ ]:
y

In [ ]:
from sklearn.svm import SVC

params = {'C':[0.001,0.01, 0.1, 1, 10, 100, 1000],
         'gamma' : np.logspace(-3,3,7)}
grid_svm = GridSearchCV(SVC(kernel = 'rbf'), params)
grid_svm.fit(X,y)
grid_svm.best_params_

In [ ]:
grid_svm.best_score_

In [ ]:
svm = SVC(C =100)
svm.fit(X_train, y_train)
svm.score(X_test,y_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

params = {'n_estimators':[10,100, 1000, 10000],
         'max_features' :['auto', 'sqrt', 'log2']}
grid_rfc = GridSearchCV(RandomForestClassifier(), params)
grid_rfc.fit(X,y)
grid_rfc.best_params_

In [ ]:
grid_rfc.best_score_

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)
rfc = RandomForestClassifier(n_estimators =100, max_features='sqrt')
rfc.fit(X_train, y_train)
rfc.score(X_test, y_test)

In [ ]:
from sklearn.feature_selection import SelectFromModel


# Set a minimum threshold of 0.70
sfm = SelectFromModel(rfc, threshold=0.000001)
sfm.fit(X, y)
n_features = sfm.transform(X).shape[1]

genes_RFC = pd.DataFrame()
genes_RFC_idx = sfm.get_support()
genes_RFC['Id'] = df_full_AD_lesional.columns[genes_RFC_idx].values
genes_RFC

In [ ]:
s=0
for i in genes_RFC['Id']:
    for j in genes_lasso['Id']:
        if i == j :
            print(i)
            s += 1
s